@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.container {
  background-color: rgb(242, 248, 248);
  color: #000000;
  padding: 25px 10px;
  opacity: 0.8;
  border-radius: 12px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-title {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

hr {
  border-top: 3px solid #eff307;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#row {
  padding: 10px 0px;
}

.logo {
  height: 130px;
  width: auto;
  text-align: right;
}

.col-md-7 {
  padding: 0;
}

@media screen and (max-width : 768px) {
 .row {
    display: contents;
    text-align: center;
  }
}
