<div class="container">
  <div class="page-title"><h1>Education</h1></div>
  <hr>
  <!-- COLLEGE DETAIL START -->
    <div class="row" id="row">
      <div class="offset-md-2 col-md-* degree-tile">
        <h3 id="degree-tile">Master Degree</h3>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-2 col-md-2">
        <div class="study">
          <img class="logo" srcset="/assets/img/Logo/Tezpur-University.png" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <div class="college-name">
          <h3>Tezpur University ( तेजपुर विश्वविद्यालय )</h3>
        </div>
        <div class="course-title">
          <h5>Masters of Computer Application</h5>
        </div>
        <div class="course-duration">
          <h6>( July 2019 - July 2020 )</h6>
        </div>
        <div class="subject">
          <h6>C, C++, Java, Data Structures</h6>
        </div>
      </div>
    </div>
  <!-- COLLEGE DETAIL END -->
    <div class="offset-md-2 col-md-6">
      <hr>
    </div>
  <!-- COLLEGE DETAIL START -->
      <div class="row" id="row">
        <div class="offset-md-2 col-md-* degree-tile">
          <h3 id="degree-tile">Bachelor Degree</h3>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-2 col-md-2">
          <div class="study">
            <img class="logo" srcset="/assets/img/Logo/Allahabad_University_logo.png" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="college-name">
            <h3>University of Allahabad ( इलाहाबाद विश्वविद्यालय )</h3>
          </div>
          <div class="course-title">
            <h5>Bachelor of Computer Application</h5>
          </div>
          <div class="course-duration">
            <h6>( July 2014 - May 2017 )</h6>
          </div>
          <div class="subject">
            <h6>C, C++, Java, Data Structures</h6>
          </div>
        </div>
      </div>
    <!-- COLLEGE DETAIL END -->

    <div class="offset-md-2 col-md-6">
      <hr>
    </div>
  <!-- COLLEGE DETAIL START -->
      <div class="row" id="row">
        <div class="offset-md-2 col-md-* degree-tile">
          <h3 id="degree-tile">Higher Secondary School</h3>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-2 col-md-2">
          <div class="study">
            <img class="logo" srcset="/assets/img/Logo/Kendriya-Vidyalaya.png" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="college-name">
            <h3>Kendriya Vidayalaya Tawang ( केंद्रीय विद्यालय तवांग )</h3>
          </div>
          <div class="course-title">
            <h5>12th Standard</h5>
          </div>
          <div class="course-duration">
            <h6>( April 2011 - March 2012 )</h6>
          </div>
          <div class="subject">
            <h6>Physics, Chemistry, Mathematics, Computer Sciences</h6>
          </div>
        </div>
      </div>
    <!-- COLLEGE DETAIL END -->

    <div class="offset-md-2 col-md-6">
      <hr>
    </div>
  <!-- COLLEGE DETAIL START -->
      <div class="row" id="row">
        <div class="offset-md-2 col-md-* degree-tile">
          <h3 id="degree-tile">Secondary School</h3>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-2 col-md-2">
          <div class="study">
            <img class="logo" srcset="/assets/img/Logo/CBSE.png" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="college-name">
            <h3>Govt. Sec. School Lhou ( राजकीय माध्यमिक विद्यालय )</h3>
          </div>
          <div class="course-title">
            <h5>10th Standard</h5>
          </div>
          <div class="course-duration">
            <h6>( April 2009 - March 2010 )</h6>
          </div>
          <div class="subject">
            <h6>English, Hindi, Mathematics, Sciences, Social Sciences</h6>
          </div>
        </div>
      </div>
    <!-- COLLEGE DETAIL END -->

</div>
