@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.container {
  color: #ffffff;
  padding: 25px 0px;
}

.page-title {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.row {
  text-align: center;
  padding: 30px 10px;
  margin: 0px;
}
.form-control {
  opacity: 0.7;
  /* display: inline-flex; */
}

.button {
  text-align: right;
  padding-top: 10px;
}

