.bg-image {
  background-image: url("/assets/img/space.jpg");
  height: 69.3vh;
  width: auto;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  opacity: 0.8;
}

.form {
  padding: 10px;
  margin-right: 50px;
  border: none;
}
