.bg-image {
  background-image: url("/assets/img/space.jpg");
  height: 69.3vh;
  width: auto;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  opacity: 0.8;
}

.content {
  width: 100%;
  color: #ffffff;
  padding: 40px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

.form-control {
  opacity: 0.6;
  display: inline-flex;
}

.button {
  text-align: right;
}

