/* HWEADER */
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

.navbar-band {
  color: black !important;
}
.navbar-band:hover {
  text-decoration-line: none;
  color: black;
}

.navbar {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  padding: 15px;
}

strong.navbar_text {
  font-family: 'Ramabhadra', sans-serif;
}

.navbar-collapse {
  text-align: center;
}

a.nav-link {
  padding: 16px;
}

/* ROUTER SECTION */
.content {
  min-height: 69.7%;
}

/* FOOTER SECTION CSS */
.footer, .push{
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #00796B;
  margin-top: auto;
  position: sticky;
}


button {
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
}

.fab {
  border-radius: 50%;
  border: none;
  background-color: aquamarine;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .content {
    min-height: 52.2%;
  }
}
