/* HWEADER */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.navbar-band {
  color: #ffffff;
  font-family: 'Crete Round', serif;
}
.navbar-band:hover {
  text-decoration-line: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .active > .nav-link  {
  color: #FBC02D;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #01579B;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 15px;
}

a.navbar-link {
  font-family: 'Crete Round', serif;
}

.navbar-collapse {
  text-align: center;
}

a.nav-link {
  padding: 16px;
}

/* ROUTER SECTION */
.content {
  min-height: 69.7%;
}

/* FOOTER SECTION CSS */
.footer, .push{
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #00796B;
  margin-top: auto;
  position: sticky;
}


button {
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
}

.fab {
  border-radius: 50%;
  border: none;
  background-color: aquamarine;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .content {
    min-height: 52.2%;
  }
}
